@use '../../global/global-styles.scss';

.custom-button {
  appearance: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.back-button {
  font-size: 30px;
  font-weight: 200;
  margin-top: 1rem;
  border: none;
  color: global-styles.$red;
  background: rgba(255, 255, 255, 0);
}

.low-emphasis-button {
  transition: all .2s ease-in-out;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  border: none;
}

.low-emphasis-button:hover {
  color: global-styles.$purple;
  transform: scale(1.05);
}

.medium-emphasis-button {
  transition: all .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid;
  border-radius: 12px;
  height: 3rem;
  min-width: 9rem;
  margin-left: 1rem;

  &:hover {
    transform: scale(1.1);
  }
}

.high-emphasis-button {
  transition: all .2s ease-in-out;
  transform: scale(1);
  width: 180px;
  height: 50px;
  // margin: 1rem;
  color: white;
  border: 2px solid;
  border-radius: 12px;

  &:hover {
    transform: scale(1.1);
  }
}

.blue-button {
  background-color: global-styles.$blue;
  border-color: global-styles.$blue;
}

.green-button {
  background-color: global-styles.$green;
  border-color: global-styles.$green;
}

.event-card-button {
  margin-top: 3rem;
  margin-left: auto;
  width: 160px;
}

.rsvp-button {
  color: global-styles.$blue;
}

.ic-card-button {
  border: none;
}

.donate-button {
  transition: all .2s ease-in-out;
  border: 2px solid white;
  border-radius: 12px;
  width: 120px;
  border-color: global-styles.$blue;
  color: global-styles.$blue;
}

.volunteer-button {
  transition: all .2s ease-in-out;
  border: 2px solid white;
  border-radius: 12px;
  width: 120px;
  border-color: global-styles.$green;
  color: global-styles.$green;
}

.volunteer-button:hover {
  background-color: global-styles.$green;
  color: white;
}

.donate-button:hover {
  background-color: global-styles.$blue;
  color: white;
}

.sign-up-button {
  transition: all .2s ease-in-out;
  margin-left: auto;
  color: white;
  border-color: white;
}

.sign-up-button:hover {
  transform: scale(1.1);
}

.disabled-button {
  background-color: #ccc;
  &:hover {
    cursor: not-allowed;
    transform: scale(1);
  }
}