@use '../../global/global-styles.scss';

.custom-button {
  appearance: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.low-emphasis-button {
  background: white;
  padding: 0;
  margin: 0;
  border: none;
}

.medium-emphasis-button {
  background-color: white;
  border: 2px solid;
  border-radius: 12px;
  height: 3rem;
  min-width: 9rem;
  margin-left: 1rem;
}

.high-emphasis-button {
  background-color: global-styles.$blue;
}

.donate-button {
  border-color: global-styles.$blue;
  color: global-styles.$blue;
}

.volunteer-button {
  border-color: global-styles.$green;
  color: global-styles.$green;
}