@use '../../global/global-styles.scss';

.custom-button {
  appearance: none;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.back-button {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 2rem;
  border: none;
  color: global-styles.$red;
  background: rgba(255, 255, 255, 0);
}

.low-emphasis-button {
  transition: all .2s ease-in-out;
  background: rgba(255, 255, 255, 0);
  padding: 0;
  margin: 0;
  border: none;
}

.low-emphasis-button:hover {
  color: global-styles.$purple;
  transform: scale(1.05);
}

.medium-emphasis-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid;
  border-radius: 12px;
  height: 3rem;
  min-width: 9rem;
  margin-left: 1rem;
}

.high-emphasis-button {
  background-color: global-styles.$blue;
}

.donate-button {
  transition: all .2s ease-in-out;
  border-color: global-styles.$blue;
  color: global-styles.$blue;
}

.volunteer-button {
  transition: all .2s ease-in-out;
  border-color: global-styles.$green;
  color: global-styles.$green;
}

.volunteer-button:hover {
  background-color: global-styles.$green;
  color: white;
}

.donate-button:hover {
  background-color: global-styles.$blue;
  color: white;
}