@use '../../global/global-styles.scss';

.membership {
  margin: 0 global-styles.$window-margin-mobile;
  display: flex;
  flex-direction: column;

  .membership-text {
    .mem-text-line {
      .mem-text-bold {
        font-weight: 700;
      }
    }
  }

  .mem-header {
    text-align: center;
  }

  .membership-card-container {
    display: flex;
    flex-direction: column;

    .patron-headers {
      margin-bottom: 1rem;
      .mem-text-line {
        .mem-text-bold {
          font-weight: 700;
        }
      }
    }

    .individual-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .business-cards {
      display: flex;
      flex-direction: column;
      align-items: center;

      .biz-mem-card {
        cursor: pointer;
        transition: all .2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 80%;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, .1);
        margin-bottom: 2rem;
        
        &:hover {
          box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
        }

        .renew {
          color: global-styles.$blue;
          font-weight: 500;
          margin-top: 2rem;
        }

        .amount {
          font-weight: 200;
        }
      }
    }
  }

  .money {
    margin-left: auto;
  }

  .money-popup {
    transition: all .2s ease-in-out;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: calc(80vw - 1rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 99999;
    border-radius: 10px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
    opacity: 1;

    .close-money {
      color: global-styles.$red;
      margin-left: auto;
    }
  }
  .money-popup-closed {
    transition: all .2s ease-in-out;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: calc(80vw - 1rem);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
    opacity: 0;

    .close-money {
      color: global-styles.$red;
      margin-left: auto;
    }
  }
}

.membership-form {
  margin: 0 global-styles.$window-margin-mobile;
  margin-bottom: 2rem;
  .information {
    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

@media screen and (min-width: 769px) {
  .membership {
    margin: 0 global-styles.$window-margin;

    .membership-text {
      .mem-text-line {
        font-size: 20px;
      }
    }

    .membership-card-container {
      .patron-headers {
        display: flex;
        justify-content: space-around;

        .mem-text-line {
          font-size: 24px;
        }
      }

      .individual-cards {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .mem-card {
          width: 25%;
          min-width: 250px;
        }
      }

      .business-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .biz-mem-card {
          width: 22%;
        }
      }
    }

    .money-popup {
      height: 300px;
      top: calc(50vh - 150px)
    }
  }

  .membership-form {
    margin: 0 global-styles.$window-margin;
    .information {
      .inputs {
        display: flex;
        width: 50%;
      }
    }
  }


  @media (orientation: portrait) {
    .membership {
      margin: 0 global-styles.$window-margin-tablet;

      .membership-card-container {
        .business-cards {
          .biz-mem-card {
            width: 40%;
          }
        }
      }
    }
  }
  .membership-form {
    margin: 0 global-styles.$window-margin;
  }
}

.money {
  color: global-styles.$blue;
}