.gallery-card {
  position: relative;
  margin: 2px;
  cursor: pointer;

  img {
    width: 100%;
  }

  .image-info {
    font-size: 12px;
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
  }
}

@media screen and (min-width: 769px) {
  .gallery-card {

    &:hover {
      .image-info {
        opacity: 1;
      }
    }

    .image-info {
      transition: all .2s ease-in-out;
      position: absolute;
      left: 0;
      bottom: 4px;
      color: white;
      font-size: 14px;
      opacity: 0;
      padding: 0 1rem;
      margin: inherit;
      background-color: rgba(0, 0, 0, .7);
    }
  }
}