.gallery-card {
  position: relative;
  margin: 2px;
  cursor: pointer;
  
  img {
    width: 100%;
  }
  // &:hover {
  //   .image-info {
  //     opacity: 1;
  //   }
  // }
  .image-info {
    transition: all .2s ease-in-out;
    position: absolute;
    left: 0;
    bottom: 4px;
    color: white;
    font-size: 14px;
    opacity: 1;
    padding: 0 1rem;
    background-color: rgba(0,0,0,.7);
  }
}

@media screen and (min-width: 769px) {
  .gallery-card {

    &:hover {
      .image-info {
        opacity: 1;
      }
    }
    .image-info {
      opacity: 0;
    }
  }
}