@use '../../global/global-styles.scss';

.home-event-card {
  margin: 3rem;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  width: 80vw;
  height: 80vw;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, .1);
  margin-bottom: 1rem;

  .home-event-card-image {
    height: 60%;
  }
}

@media screen and (min-width: 769px) {

  .home-event-card {
    margin: 0 3rem;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .5);
    overflow: hidden;

    .home-event-card-image {
      height: 60%;
    }
  }
}