@use '../../global/global-styles.scss';

.menu {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  // justify-content: center;

  .low-emphasis-button {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 2rem;
    text-decoration: underline;
    text-decoration-color: global-styles.$blue;
    text-decoration-line: 10px;
  }

  .entry {
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .menu {
    position: static;
    flex-direction: row;
    align-items: flex-start;
    margin-left: global-styles.$window-margin;
    margin-top: 2rem;
    padding-top: 0;
    height: auto;

    .low-emphasis-button {
      font-size: 20px;
      background: rgba(255, 255, 255, 0);
      padding: 0;
      margin: 0;
      border: none;
    }

    .entry {
      margin-right: 2em;
      position: relative;
      text-align: left;
    }
  }

  .sub-menu-container {
    position: relative;
  }
}

.test {
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 0;
  left: 0;
  background-color: rgba(255,0,0,.2);
  z-index: 9999;
}

// .sub-menu-transitions-enter {
//   opacity: 0;
//   // transition: all 200ms ease-in-out;
// }
// .sub-menu-transitions-enter-active {
//   opacity: 1;
//   transition: all 200ms ease-in-out;
// }
// .sub-menu-transitions-exit {
//   transition: all 200ms ease-in-out;
//   opacity: 1;
// }
// .sub-menu-transitions-exit-active {
//   opacity: 0;
//   // transition: all .2s ease-in-out;
// }
