@use '../../../global/global-styles.scss';

.home-upcoming {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;

  .home-event-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (min-width: 769px) {

  .home-upcoming {
    width: calc(100vw - 12rem);
    .home-event-card-container {
      height: 350px;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }
  }
}