@use '../../../global/global-styles.scss';

.home-upcoming {
  margin-right: global-styles.$window-margin-mobile;
  margin-left: global-styles.$window-margin-mobile;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}