@use '../../global/global-styles.scss';

.volunteer {
  margin: global-styles.$window-margin-mobile;

  .vol-title {
    text-align: center;
  }

  .volunteer-card {
    margin-bottom: 5rem;

    .vol-card-header {
      display: flex;
      align-items: center;

      .green-number {
        width: 48px;
        margin-right: 2rem;
      }
    }

    .vol-card-main {
      display: flex;
      flex-direction: column;
    }
  }
}

.reg-form {
  margin: 0 global-styles.$window-margin-mobile 4rem;

  .reg-form-container {
    display: flex;
    flex-direction: column;

    .form-alert {
      margin-top: 1rem;
      font-weight: 500;
      color: red;
    }

    textarea {
      width: 96%;
      height: 100px;
      font-size: 16px;
      resize: none;
      border: 1px solid grey;
      border-radius: 3px;
      padding: 10px 5px;
      margin-bottom: 10px;
    }

    .textarea-error {
      border-color: red;
    }
  }
}

.reg-success {
  margin: 0 global-styles.$window-margin-mobile 4rem;
}

@media screen and (min-width: 769px) {
  .volunteer {
    margin: global-styles.$window-margin;

    .vol-bottom {
      margin-left: global-styles.$window-margin;

      .vol-email-container {
        display: flex;
        align-items: center;

        .vol-email {
          margin-left: 1rem;
        }
      }
    }

    .volunteer-card {

      .vol-card-main {
        flex-direction: row;

        .vol-card-image {
          margin: 1rem 5rem;
        }
      }
    }
  }

  .reg-form {
    margin: 0 global-styles.$window-margin 4rem;

    .reg-form-container {
      width: 70%;

      textarea, input {
        width: 100%;
      }
    }
  }

  .reg-success {
    margin: 0 global-styles.$window-margin 4rem;
  }
}