@use '../../../global/global-styles.scss';

.gallery-page {
  margin: 6rem global-styles.$window-margin-mobile;

  .gallery-title {
    width: calc(100vw - 2rem);
  }

  .page-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .arrow-container {
      display: flex;
      align-items: center;

      span {
        color: global-styles.$blue;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .gallery-page {
    margin: 6rem global-styles.$window-margin;

    .gallery-title {
      width: calc(100vw - 12rem)
    }
  }

  @media screen and (orientation: portrait) {
    .gallery-page {
      margin: 6rem global-styles.$window-margin-tablet;

      .gallery-title {
        width: calc(100vw - 6rem)
      }
    }
  }
}