@use '../../../global/global-styles.scss';

.gallery-page {
  margin: 6rem global-styles.$window-margin-mobile;
  .gallery-title {
    width: calc(100vw - 2rem);
  }
}

@media screen and (min-width: 769px) {
  .gallery-page {
    margin: 6rem global-styles.$window-margin;
    .gallery-title {
      width: calc(100vw - 12rem)
    }
  }

  @media screen and (orientation: portrait) {
    .gallery-page {
      margin: 6rem global-styles.$window-margin-tablet;
      .gallery-title {
        width: calc(100vw - 6rem)
      }
    }
  }
}