.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  
  .page-container {
    margin-top: 5rem;
  }
  
  .footer {
    color: white;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    max-width: 1440;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
    
    .page-container { 
      max-width: 1440px;
      margin-top: 7rem;
    }
    
    .footer {
      margin-top: auto;
      height: 300px;
      width: 100vw;
    }
  }
}