.main-container {

  .header {
    width: 100%;
    height: 15vh;
    outline: 2px solid grey;
  }

  .page-container {
    width: 100%;
    height: 70vh;
    outline: 2px solid black;
  }

  .footer {
    width: 100%;
    height: 15vh;
    outline: 2px solid grey;
  }
}