.main-container {
  width: 100%;
  background-color: white;
  position: relative;
  
  .page-container {
    max-width: 1440px;
    overflow-x: hidden;
    margin-top: 5rem;
  }
  
  .footer {
    color: white;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    max-width: 1440;
    
    .page-container {
      // overflow: hidden;
      margin-top: 7rem;
    }
  
    .footer {
      height: 15vh;
    }
  }
}