.main-container {
  width: 100%;
  background-color: white;
  position: relative;
  
  .page-container {
    // overflow-x: hidden;
    margin-top: 5rem;
  }
  
  .footer {
    color: white;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    max-width: 1440;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .page-container { 
      max-width: 1440px;
      margin-top: 7rem;
    }
  
    .footer {
      height: 15vh;
    }
  }
}