.main-container {
  .header {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .main-container {
  
    .header {
      width: 100%;
      margin-top: 3rem;
    }
  
    .page-container {
      // height: 70vh;
    }
  
    .footer {
      // height: 15vh;
      color: white;
    }
  }
}