.main-container {
  width: 100vw;
  background-color: white;
  
  .page-container {
    margin-top: 5rem;
  }
  
  .footer {
    color: white;
  }
}

@media screen and (min-width: 767px) {
  .main-container {
    max-width: 1440px;
    .page-container {
      margin-top: 7rem;
    }
  
    .footer {
      height: 15vh;
    }
  }
}