.main-container {
  width: 100%;
  background-color: white;
  position: relative;
  overflow-x: hidden;
  
  .page-container {
    margin-top: 5rem;
  }
  
  .footer {
    color: white;
  }
}

@media screen and (min-width: 769px) {
  .main-container {
    max-width: 1440;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    // overflow-y: visible;
    
    .page-container { 
      max-width: 1440px;
      margin-top: 7rem;
    }
    
    .footer {
      // position: absolute;
      bottom: 0px;
      height: 23vh;
      width: 100%;
    }
  }
}