// Layout
$window-margin: 6rem;
$window-margin-mobile: 1rem;
$window-margin-tablet: 3rem;

// Colors
$grey: #626262;
$light-grey: #afafaf;
$blue: #077fa4;
$red: #ef303a;
$yellow: #e5bc37;
$orange: #ec9028;
$purple: #ad5fbe;
$green: #1aaf80;
$beige: #F5E4AF;

;
