.footer-image {
  position: absolute;
  bottom: 0;
  right: 40rem;

  .yellow {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .green {
    position: absolute;
    bottom: 0;
    left: 3rem;
  }
}

.yellow-two {
  position: absolute;
  bottom: 0;
  left: 0;
}