.footer-image {
  position: absolute;
  bottom: -12.4rem;
  left: 55vw;;

  .yellow {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .green {
    position: absolute;
    bottom: 0;
    left: 3rem;
  }
}

.yellow-two {
  position: absolute;
  bottom: -12.4rem;
  left: -2vw;
}