@use '../../global/global-styles.scss';

.home {
  display: flex;
  flex-direction: column;
}

// .leader {
//   margin-left: global-styles.$window-margin;
//   margin-right: global-styles.$window-margin;
//   margin-top: 6rem;

//   .leader-text {
//     width: 70%;
//   }

// }

// .sponsors {
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   margin-top: 10rem;
//   margin-bottom: 2rem;

//   .sponsors-logos {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     margin-left: global-styles.$window-margin;
//     margin-right: global-styles.$window-margin;

//     .tpn-logo-image {
//       width: 119px;
//       height: 119px;
//     }

//     .nash-logo-image {
//       width: 339px;
//       height: 69px;
//     }

//     .four-logo-image {
//       width: 117px;
//       height: 117px;
//     }

//     .cheer-logo-image {
//       width: 142px;
//       height: 91px;
//     }

//     .mipops-logo-image {
//       width: 184px;
//       height: 50px;
//     }

//     .sponsor-link {
//       transition: all .4s ease-in-out;
//       transform: scale(1);
//     }

//     .sponsor-link:hover {
//       transform: scale(1.2);
//     }
//   }
// }