@use '../../global/global-styles.scss';

.home {
  display: flex;
  flex-direction: column;
}

// .leader {
//   margin-left: global-styles.$window-margin;
//   margin-right: global-styles.$window-margin;
//   margin-top: 6rem;

//   .leader-text {
//     width: 70%;
//   }

// }

// 