@use '../../global/global-styles.scss';

.leader {
  margin-left: global-styles.$window-margin;
  margin-right: global-styles.$window-margin;
  margin-top: 6rem;

  .leader-text {
    width: 70%;
  }

}

.hero-links {
  margin-top: 4rem;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    'events workshops'
    'events news';
  
  .hero-card {
    display: flex;
    color: white;
    flex: 1 1 280px;
    align-items: center;
    justify-content: center;

    .h3 {
      width: 100%;
      height: 100%;
    }
  }

  .events {
    grid-area: events;
    background-image: url('../../images/homepage/hero/events.png');
    background-size: cover;
  }
  
  .workshops {
    grid-area: workshops;
    background-image: url('../../images/homepage/hero/workshops.png');
    background-size: cover;
  }
  
  .news {
    grid-area: news;
    background-image: url('../../images/homepage/hero/news.png');
    background-size: cover;
  }
}

.sponsors {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;

  .sponsors-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: global-styles.$window-margin;
    margin-right: global-styles.$window-margin;

    .tpn-logo-image {
      width: 119px;
      height: 119px;
    }

    .nash-logo-image {
      width: 339px;
      height: 69px;
    }

    .four-logo-image {
      width: 117px;
      height: 117px;
    }

    .cheer-logo-image {
      width: 142px;
      height: 91px;
    }

    .mipops-logo-image {
      width: 184px;
      height: 50px;
    }
  }
}