.involved-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 525px;
  width: 384px;
  margin: 0 2rem;
  border-radius: 10px;
  overflow: hidden;
  // border: 1px solid red;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, .1);

  .ic-image-container {
    height: 70%;
    width: 100%;
    // background-color: blue;
  }

  .ic-card-button {
    position: absolute;
    top: 59%;
    left: calc(50% - 6rem);
    width: 12rem;
  }

  .ic-text-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 30%;
    width: 100%;
  }
}

