@use '../../../global/global-styles.scss';


.home-inspired {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  // width: 80vw;

  .ig-link {
    color: global-styles.$blue;
  }

  .inspired-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .inspired-image-container {
      justify-content: center;
      cursor: pointer;
      width: 85vw;
      height: 85vw;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .home-inspired {
    .inspired-gallery-container {
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 4rem;

      .inspired-image-container {
        transition: all .2s ease-in-out;
        width: 25vw;
        height: 25vw;
        margin: 1rem;
        transform: scale(1)
      }
    }
  }
}