@use '../../../global/global-styles.scss';

.home-involved {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background: linear-gradient(0, global-styles.$yellow 25%, white 25%);
}

.involved-card-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  margin-top: 4rem;

  .involved-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 5px 20px  rgba(0,0,0,.1);

    .involved-card-title {
      margin-top: 40%;
    }
  }
}