@use '../../global/global-styles.scss';

.event {
  .event-body {
    position: relative;
    margin: 0 global-styles.$window-margin-mobile;

    .squiggle {
      position: absolute;
      z-index: 1;
    }

    .sq1 {
      display: none;
    }
    .sq2 {
      display: none;
    }
    .sq3 {
      transform: scale(.5);
      right: -100px;
      top: -100px;
    }
    .sq4 {
      transform: scale(.5);
      right: -40px;
      top: -70px;
    }

    .event-info {
      // margin: 3rem global-styles.$window-margin-mobile;

      .event-date {
        font-size: 22px;
        margin: 1rem 0 0;
      }

      .event-time {
        font-size: 22px;
        margin: 0 0 1rem;
      }

      .event-location {
        font-size: 20px;
        margin: 1rem 0 1rem;
      }
      .event-address {
        color: global-styles.$purple;
        font-size: 18px;
      }
    }
    .event-description {
      margin-top: 3rem;

      .event-about-title {
        font-size: 20px;
      }
    }

    .event-location-container {
      position: relative;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      overflow: hidden;
      margin: 4rem 0;
      z-index: 999;

      .location-description-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90vw;
        background-color: global-styles.$beige;
        padding: 0 2rem;

        .location-title {
          margin-top: 2rem;
          margin-bottom: 0;
        }

        .rsvp-text{
          font-size: 18px;

        }

        .location-button-container {
          position: relative;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 2rem;

          .calendar-select {
            position: absolute;
            top: 2.5rem;
            right: 1rem;
            display: flex;
            flex-direction: column;
          }
        }
      }

      .map-container {
        .location-map {
          width: 100%;
        }
      }
    }

    .event-involved {
      text-align: center;
      margin-bottom: 2rem;

      .event-involved-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .involved-card {
          margin: 1rem 0;
          width: 100%;
          height: 450px;
        }
      }
    }

    .event-previous {
      text-align: center;

      .prev-event-gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .event-image-container {
          justify-content: center;
          cursor: pointer;
          width: 85vw;
          height: 85vw;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .event {
  
    .event-body {
      margin: 0 global-styles.$window-margin;

      .sq1 {
        display: inline;
        top: 350px;
      }

      .sq2 {
        display: inline;
        left: -6rem;
        top:300px;
      }

      .sq3 {
        transform: scale(1);
        right: -100px;
        top: -5px;
      }

      .sq4 {
        transform: scale(1);
        right: 0px;
        top: -5px;
      }

      .event-info {
        .event-date {
          font-size: 38px;
        }
        .event-time {
          font-size: 38px;
        }
        .event-location {
          font-size: 30px;
        }
        .event-address {
          font-size: 20px;
        }
      }

      .event-description {
        width: 55%;
        margin-left: auto;

        .event-about-title {
          font-size: 38px;
        }
      }

      .event-location-container {
        flex-direction: row;
        height: auto;

        .location-description-container {
          height: auto;
          width: 45%;
        }

        .map-container {
          width: 50%;

          .location-map {
            width: 100%;
            height: auto;
          }
        }
      }
      .event-involved {
        .event-involved-card-container {
          flex-direction: row;
          margin-top: 2rem;

          .involved-card {
            margin: 0 2rem;
            width: 30%
          }
        }
      }
      .event-previous {
        .prev-event-gallery-container {
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 4rem;

          .event-image-container {
            transition: all .2s ease-in-out;
            width: 25vw;
            height: 25vw;
            margin: 1rem;
            transform: scale(1)
          }

          .event-image-container:hover {
            transform: scale(1.02);
          }
        }
      }
    }
  }

  @media (orientation: portrait) {
    .event {
      .event-body {
        margin: 0 global-styles.$window-margin-tablet;
        
        .event-info {

          .event-date {
            font-size: 32px;
          }

          .event-time {
            font-size: 32px;
          }
        }

        .event-location-container {
          .location-description-container {
            .location-title {
              font-size: 28px;
            }
          }
        }

        .event-involved {
          .event-involved-card-container {
            flex-direction: row;
            flex-wrap: wrap;
            .involved-card {
              margin-bottom: 2rem;
              width: 40%;
            }
          }
        }
      }
    }
  }
}

