.stripe-container {
  display: flex;
  justify-content: center;

  .stripe-form {
    // display: flex;
    // justify-content: center;
    width: 70%;

    .card-element {
      font-size: 16px;
      border: 1px solid grey;
      border-radius: 3px;
      padding: 10px 5px;
      margin-bottom: 10px;
    }
  }
}