.stripe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;

  .payment-error {
    color: red;
  }

  .stripe-form {
    // display: flex;
    // justify-content: center;
    width: 50%;

    .card-element {
      font-size: 16px;
      border: 1px solid grey;
      border-radius: 3px;
      padding: 10px 5px;
      margin-bottom: 10px;
    }
    .card-element-disabled {
      font-size: 16px;
      border: 1px solid red;
      border-radius: 3px;
      padding: 10px 5px;
      margin-bottom: 10px;
    }
  }

  .form-alert {
    margin-top: 1rem;
    font-weight: 500;
    color: red;
  }

  span {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 769px) {
  .stripe-container {
    .stripe-form {
      width: 100%;
    }
  }
}