@use '../../global/global-styles.scss';

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-bottom: 3rem;
  z-index: 9;

  .page-header-text {
    margin-left: global-styles.$window-margin-mobile;
    margin-right: global-styles.$window-margin-mobile;
    margin-bottom: 3rem;
  }

  .page-header-image {
    width: 100%;
    max-width: 1440px;
  }
}

@media screen and (min-width: 769px) {
  .page-header {
    margin-top: 6rem;

    .page-header-text {
      margin-left: global-styles.$window-margin;
      margin-right: global-styles.$window-margin;
      width: 70%;
    }
  }

  @media (orientation: portrait) {
    .page-header {
      .page-header-text {
        margin-left: global-styles.$window-margin-tablet;
        margin-right: global-styles.$window-margin-tablet;
      }
    }
  }
}