.fan {
  position: relative;
  top: 35rem;
  opacity: .6;

  .fan1 {
    position: absolute;
    top: 2rem;
    right: 0;
  }
  .fan2 {
    position: absolute;
    top: .5rem;
    right: 0;
  }
  .fan3 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .fan4 {
    position: absolute;
    top: .2rem;
    right: 0;
  }
}