.gallery-modal {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.7);

  .gallery-modal-image {
    // width: 90%;
    // height: auto;
    max-height: 90%;
    max-width: 90%;
  }
}