.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3em 0 3em;
  }
}

.header-button-container {
  display: flex;
}