@use '../../global/global-styles.scss';

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 5px;
  background-color: white;
  z-index: 9999;
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: global-styles.$window-margin-mobile;
    margin-right: global-styles.$window-margin-mobile;
  }

  .header-button-container {
    display: flex;
  }
  
  .border {
    margin-top: 5px;
    height: 2px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(7,127,164,0.8) 50%, rgba(255,255,255,1) 100%);
  }
}

@media screen and (min-width: 769px) {
  .header {
    width: 100%;
    max-width: 1440px;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
    .top-bar {
      justify-content: space-between;
      align-items: center;
      margin: 0  global-styles.$window-margin;
    }
  }
  
  .header-button-container {
    display: flex;
  }

  @media (orientation: portrait) {
    .header {
      .top-bar {
        margin: 0 global-styles.$window-margin-tablet;
      }
    }
  }
}

.menu-transitions-enter {
  left: -100%;
}
.menu-transitions-enter-active {
  left: 0;
  transition: all 200ms ease-in-out;
}
.menu-transitions-exit {
  left: 0;
}
.menu-transitions-exit-active {
  left: -100%;
  transition: all .2s ease-in-out;
}