@use '../../../global/global-styles.scss';

.sponsors {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .sponsors-logos {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    margin-left: global-styles.$window-margin-mobile;
    margin-right: global-styles.$window-margin-mobile;

    .tpn-logo-image {
      width: 119px;
      // height: 119px;
    }

    .nash-logo-image {
      width: 250px;
      // height: 69px;
    }

    .four-logo-image {
      width: 117px;
      // height: 117px;
    }

    .cheer-logo-image {
      width: 142px;
      // height: 91px;
    }

    .mipops-logo-image {
      width: 184px;
      // height: 50px;
    }

    .sponsor-link {
      margin-bottom: 1.5rem;
    }
  }
}


@media screen and (min-width: 769px) {
  .sponsors {
    flex-direction: column;
    margin-top: 10rem;

    .sponsors-logos {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: global-styles.$window-margin;
      margin-right: global-styles.$window-margin;

      .sponsor-link {
        transition: all .4s ease-in-out;
        transform: scale(.7);
      }

      .sponsor-link:hover {
        transform: scale(.9);
      }
    }
  }


}