@use '../../global/global-styles.scss';

.sub-menu {
  width: 100vw;
  display: flex;
  flex-direction: column;

  .sub-menu-list {
    position: fixed;
    top: 75px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 1);
    height: calc(100vh - 75px);

    .sub-menu-title {
      font-weight: 200;
      text-decoration: underline;
      text-decoration-color: global-styles.$blue;
    }

    .title {
      font-size: 21px;
      color: black;
      font-weight: 200;
      text-decoration: underline;
    }
    
    .sub-menu-item {
      
      p, a {
        font-size: 16px;
        margin-bottom: .5rem;
        color: global-styles.$green;
      }
  
      a {
        margin-top: 1rem;
        // font-size: 6rem;
      }
    }
  }

}

.sub-menu-transitions-enter {
  left: 100%;
}

.sub-menu-transitions-enter-active {
  left: 0;
  transition: all 200ms ease-in-out;
}

.sub-menu-transitions-exit {
  transition: all 200ms ease-in-out;
  left: 0;
}

.sub-menu-transitions-exit-active {
  left: 100%;
}

@media screen and (min-width: 769px) {
  .sub-menu {
    width: auto;

    .sub-menu-list {
      position: absolute;
      top: 32px;
      width: auto;
      height: auto;

      .sub-menu-item {
        top: 0;
        display: flex;
        align-items: center;
        width: 14rem;
        height: 3rem;
        padding-left: 1.5rem;
        background-color: white;
        border: 1px solid global-styles.$light-grey;
        border-top: none;
        transition: all .2s ease-in-out;
        

        p, a {
          transition: all .2s ease-in-out;
          font-size: 13px;
          color: global-styles.$grey;
        }
      }

      .sub-menu-item:hover {
        p, a {
          color: global-styles.$blue;
          transform: scale(1.1);
        }
      }
    }
  }

  .sub-menu-transitions-enter {
    left: 0;
    opacity: 0;
  }

  .sub-menu-transitions-enter-active {
    left: 0;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }

  .sub-menu-transitions-exit {
    left: 0;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }

  .sub-menu-transitions-exit-active {
    left: 0;
    opacity: 0;
  }
}