@use '../../global/global-styles.scss';

.sub-menu {
  position: absolute;
  top: 10px;
}

.sub-menu-item {
  transition: all .2s ease-in-out;
  display: flex;
  align-items: center;
  width: 14rem;
  height: 3rem;
  padding-left: 1.5rem;
  background-color: white;
  border: 1px solid global-styles.$light-grey;
  border-top: none;
}

.sub-menu-item {
  p {
      transition: all .2s ease-in-out;
      font-size: 13px;
      color: global-styles.$light-grey;
    }
  }
  
  .sub-menu-item:hover {
    p {
      transform: scale(1.1);
      color: global-styles.$blue;
  }
}


