@use '../../global/global-styles.scss';

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: global-styles.$window-margin-mobile;
  background-color: global-styles.$blue;

  .footer-section {
    width: 45%;
  }

  .footer-form-container {
    width: 90%;
  }

  a {
    color: white;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;

    .social-icon {
      width: 35px;
      margin-right: 1rem;
    }
  }

  // .footer-image {
  //   position: fixed;
  //   bottom: 0;
  //   left: 55vw;
  // }
}

@media screen and (min-width: 769px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: none;

    .footer-section {
      width: auto;
    }

    .socials {
      justify-content: flex-start;
      margin-right: auto;
  
      .social-icon {
        transition: all .4s ease-in-out;
      }
  
      .social-icon:hover {
        transform: scale(1.2);
      }
    }

    .about-us {
      margin-left: global-styles.$window-margin;
    }

    a {
      transition: all .1s ease-in-out;
    }

    a:hover {
      color: global-styles.$yellow;
      ;
    }
  }

  .footer-form-container {
    width: 27vw;
    margin-right: global-styles.$window-margin;
  }

  @media (orientation: portrait) {
    .footer-container {
      .about-us {
        margin-left: global-styles.$window-margin-tablet;
      }
    }
  }
}
