@use '../../global/global-styles.scss';

.event-card {
  display: flex;
  flex-direction: column;
  margin: 0 global-styles.$window-margin-mobile;
  margin-bottom: 4rem;

  .event-card-image {
    width: 100%;
    height: 90vw;
  }
}

@media screen and (min-width: 769px) {
  .event-card {
    flex-direction: row;
    margin: 0 global-styles.$window-margin;
    margin-bottom: 5rem;

    .event-card-image {
      width: 500px;
      height: 500px;
    }
  }
}