@use './global/global-styles.scss';

html {
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 { 
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: global-styles.$blue;
  // width: auto;
}


@media screen and (min-width: 769px) {
  h1 {
    font-size: 64px;
    font-weight: 500;
  }

  h2 {
    font-size: 48px;
    font-weight: 500;
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }

  h5 {
    font-size: 20px;
    font-weight: 300;
  }

  
}