@use './global/global-styles.scss';

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
  font-weight: 300;
}

a {
 text-decoration: none;
}