@use '../../../global/global-styles.scss';

.leader {
  margin-left: global-styles.$window-margin-mobile;
  margin-right: global-styles.$window-margin-mobile;
  margin-top: 2rem;
}

@media screen and (min-width: 767px) {
  .leader {
    margin-left: global-styles.$window-margin;
    margin-right: global-styles.$window-margin;
    margin-top: 6rem;
  
    .leader-text {
      width: 70%;
    }
  
  }
}