@use '../../../global/global-styles.scss';

.leader {
  margin-left: global-styles.$window-margin-mobile;
  margin-right: global-styles.$window-margin-mobile;
  margin-top: 2rem;
  margin-bottom: 3rem;;
  // width: 100%;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 769px) {
  .leader {
    margin-left: global-styles.$window-margin;
    margin-right: global-styles.$window-margin;
    margin-top: 6rem;
  
    .leader-text {
      width: 70%;
    }
  }

  @media (orientation: portrait) {
    .leader {
      margin-left: global-styles.$window-margin-tablet;
      margin-right: global-styles.$window-margin-tablet;
    }
  }
}