.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 92vw;
  z-index: 999;
  margin-bottom: 2rem;

  .form-names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .footer-form {
    width: 30vw;
  
    .form-names {
      flex-direction: row;
    }
  }
}