.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  // justify-content: right;
  // align-items:flex-end;
  flex-wrap: wrap;
  width: 30vw;
  z-index: 999;

  .form-names {
    display: flex;
    justify-content: space-between;
  }

  .sign-up-button {
    transition: all .2s ease-in-out;
    margin-left: auto;
  }

  .sign-up-button:hover {
    transform: scale(1.1);
  }
}