.footer-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  z-index: 999;
  margin-bottom: 2rem;

  .form-names {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .success {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .9);
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .close-button {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 32px;
      cursor: pointer;
      .close {
        width: 32px;
      }
      
    }
  }
}

@media screen and (min-width: 769px) {
  .footer-form {
    width: 30vw;
  
    .form-names {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .first-name, .last-name {
        width: 47%;
      }
    }

    .email {
      width: calc(100% - 11px);
    }
  }
}