.footer-form {
  display: flex;
  flex-direction: column;
  // justify-content: right;
  // align-items:flex-end;
  flex-wrap: wrap;
  width: 30vw;

  .form-names {
    display: flex;
    justify-content: space-between;
  }

  .sign-up-button {
    margin-left: auto;
  }
}